<section>

  <div class="d-flex justify-content-between">
    <h4>Listar Clases</h4>
    <a routerLink="/clase/create" class="btn btn-success">Crear Nueva Clase</a>
  </div>

  <br>

  <table class="table ">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let clase of datos">
      <td>{{ clase.id }}</td>
      <td>{{ clase.nombre }}</td>
      <td>{{ clase.descripcion }}</td>
      <td>
        <a href="#" [routerLink]="['/clase/', 'edit', clase.id  ]" class="btn btn-primary">Editar</a>
        <button type="button" (click)="deleteClase(clase.id)" href="javascript:void(0)" class="btn btn-danger">Borrar</button>
      </td>
    </tr>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="javascript:void(0)" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
          &laquo; Previous
        </a>
      </li>
      <ng-container *ngFor="let link of filteredLinks">
        <ng-container *ngIf="link.label !== 'Next &raquo;' && link.label !== '&laquo; Previous'">
          <li class="page-item" [class.active]="link.active">
            <a class="page-link" href="javascript:void(0)" (click)="cambiarPagina(link.label)">
              {{ link.label }}
            </a>
          </li>
        </ng-container>
      </ng-container>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="javascript:void(0)" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
          Next &raquo;
        </a>
      </li>
    </ul>
  </nav>




</section>
